# Entornos virtuales
venv/
.env
venv_tesis

# Archivos de Django
*.pyc
__pycache__/
db.sqlite3
media/

# Archivos del editor
*.swp
.vscode/
.idea/

# Archivos de migraciones (opcional)
**/migrations/*.pyc
**/migrations/__pycache__/

# node modules
node_modules/